{{ 'section-horizontal-cards.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{% assign scheme1 = settings.color_schemes | first %}

<div class="horizontal-cards page-width section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="horizontal-cards__heading">
        <h2>{{ section.settings.title }}</h2>
        <div class="horizontal-cards__heading-links">
            <a href="{{ section.settings.primary-btn-link }}" class="heading-links__primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_104_2907" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                          height="24">
                        <rect width="24" height="24" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_104_2907)">
                        <path d="M11.25 16.75H12.75V11H11.25V16.75ZM12 9.28845C12.2288 9.28845 12.4207 9.21105 12.5755 9.05625C12.7303 8.90145 12.8077 8.70963 12.8077 8.48078C12.8077 8.25194 12.7303 8.06012 12.5755 7.9053C12.4207 7.7505 12.2288 7.6731 12 7.6731C11.7711 7.6731 11.5793 7.7505 11.4245 7.9053C11.2697 8.06012 11.1923 8.25194 11.1923 8.48078C11.1923 8.70963 11.2697 8.90145 11.4245 9.05625C11.5793 9.21105 11.7711 9.28845 12 9.28845ZM12.0016 21.5C10.6877 21.5 9.45268 21.2506 8.29655 20.752C7.1404 20.2533 6.13472 19.5765 5.2795 18.7217C4.42427 17.8669 3.74721 16.8616 3.24833 15.706C2.74944 14.5504 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45268 3.248 8.29655C3.74667 7.1404 4.42342 6.13472 5.27825 5.2795C6.1331 4.42427 7.13834 3.74721 8.29398 3.24833C9.44959 2.74944 10.6844 2.5 11.9983 2.5C13.3122 2.5 14.5473 2.74933 15.7034 3.248C16.8596 3.74667 17.8652 4.42342 18.7205 5.27825C19.5757 6.1331 20.2527 7.13834 20.7516 8.29398C21.2505 9.44959 21.5 10.6844 21.5 11.9983C21.5 13.3122 21.2506 14.5473 20.752 15.7034C20.2533 16.8596 19.5765 17.8652 18.7217 18.7205C17.8669 19.5757 16.8616 20.2527 15.706 20.7516C14.5504 21.2505 13.3156 21.5 12.0016 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76664 19.225 7.87498 17.675 6.32498C16.125 4.77498 14.2333 3.99998 12 3.99998C9.76664 3.99998 7.87498 4.77498 6.32498 6.32498C4.77498 7.87498 3.99998 9.76664 3.99998 12C3.99998 14.2333 4.77498 16.125 6.32498 17.675C7.87498 19.225 9.76664 20 12 20Z"
                              fill="#AECEE1"/>
                    </g>
                </svg>
                <span>
                    {{ section.settings.primary-btn-label }}
                </span>
            </a>
            <a href="{{ section.settings.secondary-btn-link }}"
               class="heading-links__secondary">{{ section.settings.secondary-btn-label }}</a>
        </div>
    </div>

    <div class="horizontal-cards__container">
        {% assign blocksAmount = section.blocks.size | minus: 1%}
        {% for i in (0..blocksAmount)  %}
            {% assign block = section.blocks[i] %}
            
            <div class="horizontal-cards__horizontal-card active" style="z-index: {{ blocksAmount | minus: i | plus: 1 }};">
                <div class="horizontal-card__left">
                    <h3 class="horizontal-card__title">{{ block.settings.title }}</h3>
                    <p class="horizontal-card__text">{{ block.settings.text }}</p>

                    {% if block.settings.left-image %}
                        {{ block.settings.left-image | image_url: width: 580 | image_tag: class: "horizontal-card__left-image" }}
                    {% endif %}
                </div>

                {% if block.settings.image %}
                    {{ block.settings.image | image_url: width: 540 | image_tag: class: "horizontal-card__right-image" }}
                {% endif %}

                {% if block.settings.image-mobile %}
                    {{ block.settings.image-mobile | image_url: width: 540 | image_tag: class: "horizontal-card__right-image-mobile" }}
                {% endif %}
            </div>
        {% endfor %}
        {% for block in section.blocks %}
            
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Horizontal cards",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Performance Bloodwork",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Buttons"
    },
    {
      "type": "text",
      "id": "secondary-btn-label",
      "default": "Learn more",
      "label": "Label secondary button "
    },
    {
      "type": "text",
      "id": "secondary-btn-link",
      "default": "#",
      "label": "Link secondary button "
    },
    {
      "type": "text",
      "id": "primary-btn-label",
      "default": "Learn more",
      "label": "Label primary button "
    },
    {
      "type": "text",
      "id": "primary-btn-link",
      "default": "#",
      "label": "Link primary button "
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 100
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "100+ Biomarkers",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "default": "<span>The most comprehensive performance blood panel in the world</span> — we assess over 100 biomarkers on their own, in categories, and in performance patterns to build a complete view of you physiology with a bias towards maximizing potential.",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "left-image",
          "label": "Left image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "image_picker",
          "id": "image-mobile",
          "label": "Mobile image"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "title": "Slideshow"
    },
    "blocks": [
      {
        "type": "block"
      },
      {
        "type": "block"
      }
    ]
  }
}
{% endschema %}
