{{ 'section-text-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{% assign scheme1 = settings.color_schemes | first %}

<div class="text-form page-width section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="text-form__container">
      {% assign s = section.settings %}
      <div class="text-form__left">
        <h2 class="text-form__left-title font-50-700 color-1b">{{ s.title }}</h2>
        <p class="text-form__left-subtitle font-20-400 color-9f">{{ s.subtitle }}</p>
        <div class="text-form__caption">
          <p class="font-24-400">{{ s.caption-text }}</p>
        </div>
      </div>

      <div class="text-form__right">
      <h2 class="text-form__right-title font-24-700 color-1b">{{ s.form-title }}</h2>
        <p class="text-form__right-subtitle font-18-400 color-9f">{{ s.form-subtitle }}</p>

        <form action="">
          <input type="email" name="" id="" placeholder="{{ s.form-input-label }}">
          <button class="button-primary">{{ s.form-button-text }}</button>
        </form>
      </div>
      
    </div>
</div>


{% schema %}
{
  "name": "Three blocks section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Ready to go?",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Vitality Blueprint is available beginning in January 2024 Register here for an early invite. ",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "caption-text",
      "default": "Turn on your personal performance protocol",
      "label": "Caption text"
    },
    {
      "type": "text",
      "id": "form-title",
      "default": "Join Vitality",
      "label": "Form title"
    },
    {
      "type": "text",
      "id": "form-subtitle",
      "default": "Sign up to save your spot. Refer a friend to move up in line",
      "label": "Form title"
    },
    {
      "type": "text",
      "id": "form-input-label",
      "default": "Email address",
      "label": "Form input label"
    },
    {
      "type": "text",
      "id": "form-button-text",
      "default": "Sing up",
      "label": "Form button text"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 100
    }
  ]
}
{% endschema %}
