{{ 'section-text-with-video-masked.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile}}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile}}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{% assign scheme1 = settings.color_schemes | first %}

<div class="text-with-video-masked page-width section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="text-with-video-masked__left">
        <div class="text-with-video-masked__left-text">
            <h1>{{ section.settings.title }}</h1>
            <p>{{ section.settings.subtitle }}</p>
        </div>

        <div class="text-with-video-masked__button-block">
            <a href="{{ section.settings.anchor-link }}" class="button-block_link">
                <svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="42.5" cy="42.5" r="42" stroke="url(#paint0_linear_84_2834)"/>
                    <path d="M41.1666 30.3333V50.4647L31.5128 40.8108L30.3333 41.9999L42 53.6666L53.6666 41.9999L52.4871 40.8108L42.8333 50.4647V30.3333H41.1666Z"
                          fill="url(#paint1_linear_84_2834)"/>
                    <defs>
                        <linearGradient id="paint0_linear_84_2834" x1="5.23874" y1="5.54328e-07" x2="93.8928"
                                        y2="71.651" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#14D21C"/>
                            <stop offset="1" stop-color="#17BBD1"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_84_2834" x1="31.7714" y1="30.3333" x2="56.1078" y2="50.0022"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#14D21C"/>
                            <stop offset="1" stop-color="#17BBD1"/>
                        </linearGradient>
                    </defs>
                </svg>
            </a>
            <span class="button-block__text-container">
              <h2>{{ section.settings.anchor-link-title }}</h2>
              <p class="small">{{ section.settings.anchor-link-text }}</p>  
            </span>
        </div>
    </div>

    <div class="text-with-video-masked__right">
        {% if section.settings.video %}
            {{
            section.settings.video
            | video_tag: image_size: '715x', class:"text-with-video-masked__video", loop: true, controls: false, muted: true, autoplay: true
            }}
        {% endif %}

        <svg style="width: 1px; height: 1px; position: absolute">
            <clipPath id="video-clip-path" clipPathUnits="objectBoundingBox">
                <path d="M0.263761 0.47465C0.351151 0.507517 0.416634 0.591427 0.435543 0.694772L0.459731 0.826967C0.489724 0.990892 0.662996 1.05606 0.77162 0.944267C0.880244 0.832476 0.842752 0.62757 0.704135 0.575437L0.570959 0.52535C0.483569 0.492483 0.418085 0.408573 0.399176 0.305228L0.374988 0.173033C0.344995 0.00910823 0.171723 -0.0560583 0.0630993 0.055733C-0.0455248 0.167524 -0.00803285 0.37243 0.130585 0.424563L0.263761 0.47465Z"/>
                <path d="M0.881514 0.397232C0.816076 0.397232 0.763028 0.336313 0.763028 0.261166C0.763028 0.186019 0.816076 0.1251 0.881514 0.1251C0.946952 0.1251 1 0.186019 1 0.261166C1 0.336313 0.946952 0.397232 0.881514 0.397232Z"/>
            </clipPath>
        </svg>

        <svg width="1" height="1" viewBox="0 0 1 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_92_3174)">
                
            </g>
            <defs>
                <clipPath id="clip0_92_3174">
                    <rect width="1" height="1" fill="white"/>
                </clipPath>
            </defs>
        </svg>


    </div>
</div>

{% schema %}
{
  "name": "Text with masked video",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Text section"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Performance Bloodwork",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "The science-based bloodwork, analysis and programming chosen by the world’s top athletes and performers to maximize physiological potential",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Anchor link"
    },
    {
      "type": "text",
      "id": "anchor-link",
      "default": "#",
      "label": "Anchor link"
    },
    {
      "type": "text",
      "id": "anchor-link-title",
      "default": "Join Vitality",
      "label": "Anchor link title"
    },
    {
      "type": "text",
      "id": "anchor-link-text",
      "default": "Join the waitlist to receive an exclusive invitation to Vitality Blueprint",
      "label": "Anchor link subtitle"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 100
    }
  ]
}
{% endschema %}
